body {
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
img {
    width: 200px;
    height: auto;
    margin-right: 10px;
}
header_with_photo {
    display: flex;
    align-items: center;
}
.holaa { 
    position: absolute;
    top: 5%;
    font-size: 50px;
    left: 15%;
}
.name { 
    position: absolute;
    top: 13%;
    font-size: 40px;
    left: 15%;
}

.text {
    position:absolute;
    text-align: center;
    font-size: 20px;
    top: 40%;
    left: 25%;
    right:30%;
    border: 2px solid black;
}